<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="./Css/baseStyle.css">
        <link rel="stylesheet" href="./Css/bestiaire.css">

        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        <style>
            
        </style>

        {% block header %}
            <a class="retour-portail" href="https://localhost:8000/">Portail</a>
            <div class="espacement-haut"></div>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
